<div class="main_form">
    <form action="#">
        <h3 class="main_form_title">Введіть дані для входу</h3>
        
        <div>
            <input type="text" placeholder="Email">
        </div>

        <div>
            <input type="password" placeholder="Password">
        </div>

        <div>
            <input class="btn" type="submit" value="УВІЙТИ">
        </div>
    </form>
</div>
