<div class="search-car-container flex-row">
    <div class="search-car-container-title">
        <h1>Знайдіть Потрібний Автомобіль</h1>
    </div>

    <div class="search-car-container-form">
        <form>
            <div class="input-group flex-row">
                <h2>Ціна:</h2>

                <div class="flex-row">
                    <input type="text" placeholder="Від ($)">
                    <input type="text" placeholder="До ($)">
                </div>
            </div>
            
            <div class="input-group flex-row">
                <h2>Паливо:</h2>

                <div>
                    <select class="form-select" name="fuel" id="fuel-select">
                        <option value="">Виберіть тип палива</option>
                        <option value="">Бензин</option>
                        <option value="">Газ</option>
                        <option value="">Газ / Бензин</option>
                        <option value="">Газ метан</option>
                        <option value="">Газ пропан-бутан</option>
                        <option value="">Гібрид</option>
                        <option value="">Дизель</option>
                        <option value="">Електро</option>
                    </select>
                </div>
            </div>

            <div class="input-group flex-row">
                <h2>Кількість місць:</h2>

                <div class="flex-row">
                    <input type="text" placeholder="Від">
                    <input type="text" placeholder="До">
                </div>
            </div>

            <div class="card-btn">
                <button class="btn">
                    <h3>ПОШУК</h3>
                </button>
            </div>
        </form>
    </div>
</div>