<div class="navigation_container">
    <header>
        <nav class="align-left">
            <ul>
                <li><a href="/">ГОЛОВНА</a></li>
                <li><a href="/cars/search">ПОШУК АВТОМОБІЛЯ</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li>
                    <% if user_signed_in? %>
                      <%= link_to 'ВИХІД', destroy_user_session_path, data: { turbo_method: :delete }  %>
                    <% else %>
                      <%= link_to 'ВХІД', new_user_session_path %>
                    <% end %>
                </li>
                <li><a href="/users/profile">ПРОФІЛЬ</a></li>
            </ul>
        </nav>
    </header>
</div>