<div class="navigation_container">
    <header>
        <nav class="align-left">
            <ul>
                <li><a href="/">ГОЛОВНА</a></li>
                <li><a href="/cars/search">ПОШУК АВТОМОБІЛЯ</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li><a href="/users/logout">ВИХІД</a></li>
                <li><a href="/users/profile">ПРОФІЛЬ</a></li>
            </ul>
        </nav>
    </header>
</div>