<div class="navigation_container">
    <header>
        <h2 id="nav-title">RentYourRide.com</h2>
        <nav>
            <ul>
                <li><a href="/">ВХІД</a></li>
                <li><a href="/sign_up">РЕЄСТРАЦІЯ</a></li>
            </ul>
        </nav>
    </header>
</div>