<div class="navigation_container">
    <header>
        <nav>
            <ul>
                <li><a href="/users/sign_in">ВХІД</a></li>
                <li><a href="/users/sign_up">РЕЄСТРАЦІЯ</a></li>
            </ul>
        </nav>
    </header>
</div>