<div class="wrapper">
    <div class="rent-car-container">
        <form class="rent-car-form">
            <div class="car-form-item rent-car-form-car-info flex-row">
                <h2>Ford Fiesta</h2>
                <h2>(Car Price)</h2>
            </div>

            <p>
                Дата та час оренди:
            </p>

            <div class="car-form-item rent-car-form-time flex-row">
                <input type="date">
                <input type="time">
            </div>

            <p>
                Дата та час повернення автомобіля:
            </p>

            <div class="car-form-item rent-car-form-time flex-row">
                <input type="date">
                <input type="time">
            </div>

            <h2 class="car-form-item" style="text-align:center">Остаточна Ціна</h2>

            <div class="car-form-item">
                <div class="flex-row">
                    <h4>Ціна за добу:&nbsp</h4>
                    <p class="text-gray">17$</p>
                </div>

               <div class="flex-row">
                    <h4>Всього днів:&nbsp</h4>
                    <p class="text-gray">2</p>
                </div>

               <div class="flex-row">
                    <h4>Остаточна ціна:&nbsp</h4>
                    <p class="text-gray">34$</p>
                </div>
            </div>

            <button type="submit" class="btn">
                <h3>ЗАБРОНЮВАТИ АВТО</h3>
            </button>
        </form>
    </div>
</div>