<%= form_with(model: user, url:session_path(user)) do |f| %>
  <div class="form_item">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="form_item">
    <%= f.password_field :password, placeholder: "Password" %>
  </div>

  <div class="form_item">
    <%= f.submit "УВІЙТИ", class:"btn" %>
  </div>
<% end %>

